<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Key</key>
	<string>TmZVYXAteXozY1ZnYWdwckZLNmQ6MTpjaQ</string>
	<key>API Sectret</key>
	<string>Oo5n9BRsGlSHxdPE1pENmPKRMk2mRC697WvXVqY2D2YTF4UfvZ</string>
</dict>
</plist>
